.js-widget-form-notifications-container {
	margin: 4px 0 8px 0;
	padding: 0;
	display: none;
	cursor: default;
}

.js-widget-form-notifications-container li.notice {
	list-style: none;
	margin: 0 0 6px 0;
	padding: 4px 8px;
}

.js-widget-form-notifications-container li.notice:last-child {
	margin-bottom: 0;
}

.js-widget-form-notifications-container .notice {
	background: #fff;
	border-left: 4px solid #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 15px 2px;
	padding: 1px 12px;
}

.js-widget-form-notifications-container .notice p {
	margin: 0.5em 0;
	padding: 2px;
}

.js-widget-form-notifications-container .notice-alt {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.js-widget-form-notifications-container .notice-error {
	border-left-color: #dc3232;
}
.js-widget-form-notifications-container .notice-error.notice-alt {
	background-color: #fbeaea;
}

.js-widget-form-notifications-container .notice-info {
	border-left-color: #00a0d2;
}
.js-widget-form-notifications-container .notice-info.notice-alt {
	background-color: #e5f5fa;
}

.js-widget-form-notifications-container .notice-success{
	border-left-color: #46b450;
}
.js-widget-form-notifications-container .notice-success.notice-alt {
	background-color: #ecf7ed;
}

.js-widget-form-notifications-container .notice-warning {
	border-left-color: #ffb900;
}
.js-widget-form-notifications-container .notice-warning.notice-alt {
	background-color: #fff8e5;
}

.js-widget-form-shortcode-ui input[type="text"],
.js-widget-form-shortcode-ui input[type="password"],
.js-widget-form-shortcode-ui input[type="color"],
.js-widget-form-shortcode-ui input[type="date"],
.js-widget-form-shortcode-ui input[type="datetime"],
.js-widget-form-shortcode-ui input[type="datetime-local"],
.js-widget-form-shortcode-ui input[type="email"],
.js-widget-form-shortcode-ui input[type="month"],
.js-widget-form-shortcode-ui input[type="number"],
.js-widget-form-shortcode-ui input[type="search"],
.js-widget-form-shortcode-ui input[type="tel"],
.js-widget-form-shortcode-ui input[type="text"],
.js-widget-form-shortcode-ui input[type="time"],
.js-widget-form-shortcode-ui input[type="url"],
.js-widget-form-shortcode-ui input[type="week"],
.js-widget-form-shortcode-ui select,
.js-widget-form-shortcode-ui textarea {
	width: 25em;
	padding: 3px 5px;
	font-size: 14px;
}

.js-widget-form-shortcode-ui input[type="checkbox"],
.js-widget-form-shortcode-ui input[type="radio"] {
	border: 1px solid #b4b9be;
	color: #555;
}
.js-widget-form-shortcode-ui input[type="checkbox"]:focus,
.js-widget-form-shortcode-ui input[type="radio"]:focus {
	border-color: #5b9dd9;
}
.js-widget-form-shortcode-ui input[type="checkbox"] + label,
.js-widget-form-shortcode-ui input[type="radio"] + label {
	display: inline;
	clear: none;
}

.js-widget-form-shortcode-ui label {
	color: #555d66;
}

.js-widget-form-shortcode-ui .select2-container {
	max-width: 26.92em; /* 25em * 14px = 350px => 350px / 13px = 26.92em */
}

/* Shortcake style fixes */
.edit-shortcode-form .js-widget-form-notifications-container label {
	clear: none;
	display: inline;
}
