.DS_Store

# Grunt
/build/
/node_modules/
npm-debug.log

# Composer
composer.lock
/vendor/

# Compiled files
*.min.js
*.min.css
*.compiled.js
*.browserified.js

/bower_components/react/*
!/bower_components/react/react-dom.js
!/bower_components/react/react-dom.min.js
/bower_components/react/*
!/bower_components/react/react.js
!/bower_components/react/react.min.js
/bower_components/redux/*
!/bower_components/redux/index.js
