
.widget-post-collection .customize-object-selector-container,
.widget-post-collection .customize-object-selector-container .select2-container {
	display: block;
}

.widget-post-collection .customize-object-selector-container .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	display: block;
	float: none;
	cursor: move;
}
